<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .montantColorPositif {
            color: green;
        }
        .montantColorNegatif {
            color: red;
        }
    </style>
    <script>
        function DisplayMessage() {
            alert('@message');
        }
    </script>
</head>
<body>
    <h2>Version 4</h2>
    <h4>Bonjour @nom</h4>
    <p>Votre crédit est de <strong class="@montantColor"> @montant €</strong></p>
    <div>
        @ecritures
    </div>
    <button @messageDisabled onclick="DisplayMessage()">Vous avez un message</button>
</body>
</html>