@model PatternMVC.Models.Personne
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<html>
<head><title>Page sans layout</title></head>
<body>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Nom</li>
        <li>@Model.Ville</li>
    </ul>
</body>
</html>
