<h2>Formulaire</h2>

<form method="post" action="/personne/save">
    <div>
        <h4>1</h4>
        <input type="hidden" name="Id" value="1"/>
    </div>
    <div>
        <label for="idNom"> Nom: </label><input type="Text" id="idNom" name="Nom" value="Alexandre" />
    </div>
    <div>
        <label for="idDate"> Date de naissance: </label><input type="date" id="idDate" name="DateNaissance" value="5/5/2005" />
    </div>
    <div>
        <input type="submit" value="Enregistrer" />
    </div>
</form>