<style>
    .div1 {
        display: flex;
        border: 1px solid blue;
    }

    .div2 {
        width: 200px;
        height: 200px;
        margin: 10px;
        background-color: pink;
    }
</style>
<table>
    <tr>
        <td rowspan="2">
            <h2 id="points"></h2>
        </td>
    </tr>
    <tr>
        <td>
            <h3 id="message"></h3>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr><td style="text-align: center"><img src="~/images/init.png" width="160" id="imgMachine" /></td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="image" src="~/images/pierre.png" width="80" class="Fpc" id="1" />
                                </td>
                                <td>
                                    <input type="image" src="~/images/feuille.png" width="80" class="Fpc" id="2" />
                                </td>
                                <td>
                                    <input type="image" src="~/images/ciseau.png" width="80" class="Fpc" id="3" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@section scripts{
    <script>
        // Liste des ptés d'un objet.
        //$.each($('#imgMachine'), function (key, element) {
        //    alert('key: ' + key + '\n' + 'value: ' + element);
        //});

        var fpc = ['pierre', 'feuille', 'ciseau'];
        var points = 0;
        function randomIntFromInterval(min, max) { // min and max included
            return Math.floor(Math.random() * (max - min + 1) + min)
        }
        function comparerChoix(choixU, choixM) {
            var etat = '';

            // Egalité
            if (choixU == choixM) {
                points = 0;
                etat = 'Egalité';
            }
            // Gagné
            else if (choixU == 1 && choixM == 3 || choixU == 2 && choixM == 1 || choixU == 3 && choixM == 2) {
                points++;
                etat = 'Gagné';
            }
                // Perdu
            else {
                points--;
                etat = 'Perdu';
            }

            // Affichage message, points, imgMachine.
            var pluriel = points < -1 || points > 1 ? 's' : '';
            $('#message').html(etat);
            $('#points').html(points + " point"+pluriel);
            $('#imgMachine')[0].src = '/images/' + fpc[choixM - 1] + '.png';
            $('#message').css('color', 'blue');

            // AFfichage si gagné ou perdu
            if (points == 3) {
                $('#message').html("Vous avez gagné !");
                $('#message').css('color', "green");
            }
            else if (points == -3) {
                $('#message').html("Vous avez perdu !");
                $('#message').css('color', "red");
            }
            if (points == 3 || points == -3) {
                $('#1').css('display', 'none');
                $('#2').css('display', 'none');
                $('#3').css('display', 'none');
                $('#imgMachine').css('display', 'none');
                $('#points').css('display', 'none');
            }
        }
        $('.Fpc').click(function () {
            // Choix Machine et utilisateur
            var choixMachine = randomIntFromInterval(1, 3);
            var choixUtilisateur = this.id;
            comparerChoix(choixUtilisateur, choixMachine);
        });
    </script>
}