@model ZZ_Eval.Models.DuckFamily
@{
    ViewBag.Title = "Question 8";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<form method="post">
    <div style="display:flex">
        <div style="margin:15px">
            <h3>Pommes</h3><input type="number" name="pomme" min="0" max="3" value="0" />
        </div>
        <div style="margin:15px">
            <h3>Poires</h3><input type="number" name="poire" min="0" max="3" value="0" />
        </div>
        <div style="margin:15px">
            <h3>Scoubidous</h3><input type="number" name="scoubidou" min="0" max="3" value="0" />
        </div>
    </div>
    <div style="margin:15px">
        <input type="submit" name="submit" value="Commander" />
        <input type="button" id="reset" value="Reset" />
        <h3><label id="total"></label>@ViewBag.Total €</h3>
    </div>
</form>

@section scripts{
    <script>
        var h3 = document.getElementById("total");
        var resetButton = document.getElementById("reset");
        var submitButton = document.getElementsByName("submit")[0];
        resetButton.onclick = function () {
            localStorage["Total"] = @ViewBag.Total;
            //alert(localStorage["Total"]);
        };

        submitButton.onclick = function () {
            var total = parseFloat(h3.innerText);
            var localStorageTotal = parseFloat(localStorage["Total"]);
            var sum = total + localStorageTotal;
            h3.innerText="";
            h3.innerText = sum.toFixed(2) + " €";
        };
    </script>
}
@section retour{
    <a href="/home/question/8">Retour</a>

}
