
@{
    ViewBag.Title = "Pilule";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>La rouge ou la bleue ?</h2>
<img src="~/images/Pilule.png" />
@section retour{
    <a href="/question9/index">Retour</a>
}
