<style>
    .div1 {
        display: flex;
        border: 1px solid blue;
    }

    .div2 {
        width: 200px;
        height: 200px;
        margin: 10px;
        background-color: pink;
    }
</style>
<table>
    <tr>
        <td rowspan="2">
            <h2 id="points">3 points</h2>
        </td>
    </tr>
    <tr>
        <td>
            <h3 id="message"></h3>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr><td style="text-align: center"><img src="~/images/feuille.png" width="160" id="imgMachine"/></td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="image" src="~/images/pierre.png" width="80" class="Fpc" id="pierre"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/feuille.png" width="80" class="Fpc" id="feuille"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/ciseau.png" width="80" class="Fpc" id="ciseau"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@section scripts{
    <script>
        $('.Fpc').click(function () {
            $.ajax({
                url: "/api/chifoumi/?id=" + this.id,
                method: "GET",
                success: function (data) {
                    //var json = data;
                    var json = JSON.parse(data);
                    //    json.ChoixMachine
                    //    json.Points
                    //    json.Etat
                    //    json.Message
                    //    json.MessageCouleur
                    $('#imgMachine').src = "~/images/" + choixMachine + ".png";
                    $('#points').html(json.Points + " point(s)");
                    $('#message').html(json.Message);
                    $('#message').css('color', json.MessageCouleur);
                },
                error: function (error) {
                    alert("error" + error);
                }
            });
        });
    </script>
}
