<style>
    .div1 {
        display: flex;
        border: 1px solid blue;
    }

    .div2 {
        width: 200px;
        height: 200px;
        margin: 10px;
        background-color: pink;
    }
</style>
<table>
    <tr>
        <td rowspan="2">
            <h2>3 points</h2>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr><td style="text-align: center"><img src="~/images/feuille.png" width="160" /></td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="image" src="~/images/pierre.png" width="80"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/feuille.png" width="80"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/ciseau.png" width="80"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@*<div class="div1">
        <div class="div2">
            <h2>3</h2>
        </div>
        <div>
            <div class="div2">
                <div><img src="/images/feuille.png" width="80" /></div>
            </div>
            <div class="div1">
                <div class="div2"></div>
                <div class="div2"></div>
                <div class="div2"></div>
            </div>
        </div>
    </div>*@