<style>
    .div1 {
        display: flex;
        border: 1px solid blue;
    }

    .div2 {
        width: 200px;
        height: 200px;
        margin: 10px;
        background-color: pink;
    }
</style>
<table>
    <tr>
        <td rowspan="2">
            <h2>3 points</h2>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr><td style="text-align: center"><img src="~/images/feuille.png" width="160" /></td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="image" src="~/images/pierre.png" width="80" class="Fpc" id="pierre"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/feuille.png" width="80" class="Fpc" id="feuille"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/ciseau.png" width="80" class="Fpc" id="ciseau"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@section scripts{
    <script>
        $('.Fpc').click(function () {
            
        });
    </script>
}
