<style>
    .div1 {
        display: flex;
        border: 1px solid blue;
    }

    .div2 {
        width: 200px;
        height: 200px;
        margin: 10px;
        background-color: pink;
    }
</style>
<table>
    <tr><td><input type="text" id="joueur" value="Ali"/></td></tr>
    <tr>
        <td rowspan="2">
            <h2 id="points"></h2>
        </td>
    </tr>
    <tr>
        <td>
            <h3 id="message"></h3>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr><td style="text-align: center"><img src="~/images/feuille.png" width="160" id="imgMachine"/></td></tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <input type="image" src="~/images/pierre.png" width="80" class="Fpc" id="pierre"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/feuille.png" width="80" class="Fpc" id="feuille"/>
                                </td>
                                <td>
                                    <input type="image" src="~/images/ciseau.png" width="80" class="Fpc" id="ciseau"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
@section scripts{
    <script>
        $('.Fpc').click(function () {
            $.ajax({
                url: "/api/chifoumi/?id=" + this.id + "&joueur=" + $('#joueur').val(),
                method: "GET",
                success: function (data) {
                    var json = JSON.parse(data);
                    var pluriel = json.Points > 1 || json.Points < -1 ? 's' : '';
                    $('#imgMachine').src = "~/images/" + json.choixMachine + ".png";
                    $('#points').html(json.Points + " point" + pluriel);
                    $('#message').html(json.Message);
                    $('#message').css('color', json.MessageCouleur);
                    if (json.Points == 3) {
                        $('#message').html("Vous avez gagné !");
                        $('#message').css('color', "green");
                    }
                    else if (json.Points == -3) {
                        $('#message').html("Vous avez perdu !");
                        $('#message').css('color', "red");
                    }
                },
                error: function (error) {
                    alert("error" + error);
                }
            });
        });
    </script>
}
