@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://learn.microsoft.com/en-us/visualstudio/javascript/tutorial-aspnet-with-typescript?view=vs-2022">Learn about TypeScript </a>.</p>
</div>
<div id="ts_example">
    <button type="button" class="btn btn-primary" onclick="TSButton()">Click Me</button>
</div>

<div>
    <p id="ts-example2">JQuery version is:</p>
</div>