<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TD</title>
</head>
<body>
    <h1> Travaux dirigés </h1>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Développé par Ali MAKRI</p>
        </footer>
    </div>
</body>
</html>