
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>
<label for="identifiant">Votre pseudo</label>
<input type="text" id="identifiant" />
<br />
<label for="message">Votre message</label>
<input type="text" id="message" />
<br />
<input type="button" id="btnSend" value="Envoyer"/>
<div id="messages"></div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
    <script src="~/signalR/Hubs"></script>

    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.broadcastMessage = function (name, message) {
                $('#messages').append(name + ' : ' + message + '<br/>');
            };
            $.connection.hub.start().done(function () {
                $('#btnSend').click(function () {
                    chat.server.envoyer($('#identifiant').val(), $('#message').val());
                });
            });
        });

    </script>
}