@{
    ViewBag.Title = "Question 10";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Vue 1</h2>
<div>
    @Html.Partial("~/Views/Question10/_Commun.cshtml")
</div>

@section retour{
    <a href="/question10/index">Retour</a>
}
