
@{
    ViewBag.Title = "Cle";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>La clef est PI314</h2>
<img src="~/images/maitredescles.png" />
@section retour{
    <a href="/question9/index">Retour</a>
}
