@{
    ViewBag.Title = "Question 9";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Réponse à la question 9</h2>
<div><a href="/question9/cle">Accès à la clef</a></div>
<div><a href="/question9/coffre">Accès au coffre</a></d


@section retour{
    <a href="/home/question/9">Retour</a>
}
