@model B_LeControleur.Controllers.Agre
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>page1</title>
</head>
<body>
    <h2>@Model.Item1 @Model.Item2 </h2>
</body>
</html>
