@{
    ViewBag.Title = "Question 5";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Réponse à la question 5</h2>
<div>
    <a href="/question5/fill">Cliquez ici pour remplir la base de données.</a>
</div>
<div>
    <a href="/question5/display">Cliquez ici pour visualiser la base de données.</a>
</div>
@section retour{
    <a href="/home/question/5">Retour</a>
}
