@model C_Todo_V1.Models.Todo
@{
    var check = "";
    if (Model.Fait) { check = @"checked=""checked"""; }
}
<h2>Modifier un todo</h2>
<div>
    <form method="post" action="/todo/edit">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div>
            Libellé : <input type="text" value="@Model.Libelle" name="libelle" id="libelle" size="50" />
        </div>
        <div>
            Fait : <input type="checkbox" name="fait" @check />
        </div>
        <div>
            <input type="submit" value="Ok" />
        </div>
    </form>
</div>
<div>
    <a href="/todo/index">Retour</a>
</div>