@model List<C_Todo_V1.Models.Todo>
<h3>Liste des choses à faire</h3>
<a href="todo/add">Ajouter</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Libellé</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string check = "";
            foreach (var todo in Model)
            {
                if (todo.Fait)
                {
                    check = @"checked=""checked""";
                }
                <tr>
                    <td>@todo.Id</td>
                    <td>@todo.Libelle</td>
                    <td><input type="checkbox" @check disabled="disabled" /></td>
                    <td><a href="/todo/edit/@todo.Id">Editer</a></td>
                    <td><a href="/todo/delete/@todo.Id">Supprimer</a></td>
                </tr>
                check = "";
            }
        }
    </tbody>

</table>

