<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M_DevinerVersionWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="M_DevinerVersionWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <M_DevinerVersionWindows.Properties.Settings>
            <setting name="NCoupMax" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Min" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Max" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="ModeBDD" serializeAs="String">
                <value>False</value>
            </setting>
        </M_DevinerVersionWindows.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <M_DevinerVersionWindows.Properties.Settings>
            <setting name="Triche" serializeAs="String">
                <value>False</value>
            </setting>
        </M_DevinerVersionWindows.Properties.Settings>
    </userSettings>
</configuration>