@{
    ViewBag.Title = "Question 10";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div>
    <h2>Vue 2</h2>

    <div>
        @Html.Partial("_Commun")
    </div>

    @section retour{
        <a href="/question10/index">Retour</a>
    }
</div>