@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Sélectionner vos 13 fichiers et dossiers ci-dessous, copiez les dans un nouveau dossier, compressez ce dossier et envoyez le fichier compressé par courriel.</p>
<img src="~/images/transfert.png"/>