@{
    ViewBag.Title = "Question 10";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Réponse à la question 10</h2>

<div><a href="/question10/vue1">Vue 1</a></div>
<div><a href="/question10/vue2">Vue 2</a></div>
@section retour{
    <a href="/home/question/10">Retour</a>
}
